@model InuranceAssignmentAPD03.Models.ApplicationViewModel

<div class="card">
    <div class="card-body">
        Applicant : <h4 class="card-title">@Model.Applicants.Email</h4>
        Policy : <p class="card-text">@Model.SelectedPolicies.PolicyName</p>
        <br />
        Origional Cost : @Model.SelectedPolicies.BaseCost

        Your Premium : <a href="#" class="">@Model.Applications.Amount</a>

        <br />
        <a asp-action="ApproveApplication" asp-controller="Policy" asp-route-id="@Model.Applications.TransactionId" class="card-link">Approve</a>
        <br />
        <a asp-action="DenyApplication" asp-controller="Policy" asp-route-id="@Model.Applications.TransactionId" class="card-link">Deny</a>
    </div>
</div>
