@model InuranceAssignmentAPD03.Models.ClaimViewModel

 <div class="jumbotron">
    User Balance Balance :    @Model.account.Balance <br />


     User Claim :    @Model.application.Amount  <br />
    Application Status :    @Model.application.Notes  <br />
    TimeSent :    @Model.application.TimeSent  <br />
     
    
     Claim Reason :    @Model.claim.Description <br />
    Claim Amount :    @Model.claim.Cost <br />
    Claim Status :    @Model.claim.Notes <br />
    Policy Name :    @Model.policy.PolicyName <br />
    Policy Description :    @Model.policy.PolicyDescription <br />
    Appeal Reason :    @Model.claim.Description <br />
    Policy Base Cost :    @Model.policy.BaseCost <br />
    Client Age :     @Model.profile.Age <br />
    Client Email :    @Model.user.Email <br />
     </div>
@if (Model.claim.Notes.Contains("Denied"))
{
<a asp-controller="Policy" asp-action="CreateApeal" asp-route-id="@Model.claim.ClaimId" class="btn btn-warning" > Appeal </a>
}
<br/>
<br/>