@model IEnumerable<InsuranceDLL.DataAccess.DomainModels.Transaction>

@{
    ViewData["Title"] = "ViewAllTransactions";
}

<h1>ViewAllTransactions</h1>

<table class="table">
    <thead>
        <t
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeSent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
          
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeSent)
            </td>
          
        </tr>
}
    </tbody>
</table>
