@model InuranceAssignmentAPD03.Models.ViewPolicyViewModel

@{
    ViewData["Title"] = "ViewPolicy";

    List<SelectListItem> family = new List<SelectListItem>();

    if (Model != null && Model.profiles != null)
    {

        var allattendies = Model.profiles;
        family = allattendies.Select(a => new SelectListItem { Text = a.UserName, Value = a.UserId }).ToList();

    }
}

<div>

    @using (Html.BeginForm("GenerateQoute", "Policy", FormMethod.Post))
    {
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.policy.PolicyId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.policy.PolicyId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.policy.PolicyName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.policy.PolicyName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.policy.PolicyDescription)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.policy.PolicyDescription)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.policy.Type)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.policy.Type)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.policy.BaseCost)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.policy.BaseCost)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.policy.MonthlyPremium)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.policy.MonthlyPremium)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.policy.VAT)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.policy.VAT)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.policy.AverageAge)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.policy.AverageAge)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.policy.Valid)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.policy.Valid)
            </dd>
        </dl>

        <input type="hidden" asp-for="policy.PolicyId" />

        @Html.HiddenFor(m => m.policy.PolicyId);
        <div class="form-group">
            <label asp-for="ProfileId" class="control-label"></label>
            @Html.DropDownListFor(m => m.ProfileId, family, new { id = "selectItem" })
            <span asp-validation-for="ProfileId" class="text-danger"></span>
        </div>

        @*<a href="Policy/GenerateQoute/@Model.policy.PolicyId/@Model.ProfileId">Get a Qoute</a>*@

        <input type="submit" name="name" value="Get The Qoute" />
    }

    <form asp-action="ApplyForPolicy" asp-controller="Policy" asp-route-id="@Model.policy.PolicyId">
        <input type="submit" name="name" value="Apply" />
    </form>

</div>
<a class="nav-link text-dark btn btn-primary" asp-area="" asp-controller="Policy" asp-action="Index">+Profile</a>
